<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  <!-- デバイスの画面幅に合わせる -->
  <meta name="discription" content="CSS Cafeの公式ウェブサイトです。商品情報，店舗紹介，アクセス，会社情報など。">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>contact</title>
  <link rel="stylesheet" href="css/html5reset-1.6.1.css">
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/contact.css">
</head>
<body>
  <!-- header begin -->
  <header id="top">
    <div class="header_content">
      <a href="contact.html" class="self-link">Contact</a>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- header end -->

  <!-- main start -->
  <div class="contents wrapper">
    <form action="" method="POST">
      <dl>
        <dt><label for="username">お名前</label></dt>
        <dd><input id="username" type="text" name="username"></dd>
        <br>
        <dt><label for="email">メールアドレス</label></dt>
        <dd><input id="email" type="text" name="email"></dd>
        <br>
        <br>
        <dt><label for="contents">お問い合わせ内容</label></dt>
        <dd><textarea id="contents" name="contents" cols="50" rows="20"></textarea></dd>
      </dl>
    <input class="submit" type="submit" name="submit" value="送 信">
  </div>
  <!-- main end -->




  <!-- footer begin -->
  <footer>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="#" target="blank">facebook</a></li>
      <li><a href="https://www.instagram.com/oisiimaru" target="blank">Instagram</a></li>
      <li><a href="#" target="blank">minne</a></li>
    </ul>
    <small>&copy;2022 taza</small>
  </footer>
  <!-- footer end -->

  </body>
  </html>