<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  <!-- デバイスの画面幅に合わせる -->
  <meta name="discription" content="CSS Cafeの公式ウェブサイトです。商品情報，店舗紹介，アクセス，会社情報など。">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gallery</title>
  <link rel="stylesheet" href="../css/html5reset-1.6.1.css">  <!-- リセット -->
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/gallery.css">
</head>
<body>
  <!-- header begin -->
  <header id="top">
    <div class="header_content">
      <a href="gallery.html" class="self-link">Gallery</a>
      <nav>
        <ul>
          <li><a href="index.html">Home</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- header end -->

  <!-- contents begin -->
  <div class="wrapper">
    <div id="main_content">
      <div class="introduction">
        <p>2018年に中古カメラを購入して以来、一枚一枚もったいぶって</p>
        <p>時には闇雲にシャッターをきりました。</p>
        <p>あたたかく日常的な瞬間に憧れて、どこまでも足を伸ばしていきます。</p>
      </div>
      <ul>
        <li><img src="images/BGBG.JPG"></li>
        <li><img src="images/PNJI.JPG"></li>
        <li><img src="images/ICJK.JPG"></li>
        <li><img src="images/ENSI.JPG"></li>
        <li><img src="images/XMAS.JPG"></li>
        <li><img src="images/TANA.JPG"></li>
        <li><img src="images/FUNE.JPG"></li>
        <li><img src="images/GINZ.JPG"></li>
        <li><img src="images/KMKR.JPG"></li>
        <li><img src="images/SAKU.JPG"></li>
        <li><img src="images/DISH.JPG"></li>
        <li><img src="images/HRJK.JPG"></li>
        <!-- <li><img src="images/KYO.JPG"></li> -->
        <li><img src="images/TOKYO.JPG"></li>
        <li><img src="images/YEAR.jpg"></li>
      </ul>
    </div>
    </div>
      <div id="pageTop">
      <br>
      <a href="gallery.html">TOP</a>
    </div>　　　<!-- スクロールに追跡, ゆっくりトップに移動 -->
  <!-- contents end -->

  <!-- footer begin -->
  <footer>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="#" target="blank">facebook</a></li>
      <li><a href="https://www.instagram.com/oisiimaru" target="blank">Instagram</a></li>
      <!-- <li><a href="#" target="blank">minne</a></li> -->
    </ul>
    <small>&copy;2022 taza</small>
  </footer>
  <!-- footer end -->

</body>
</html>