<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  <!-- デバイスの画面幅に合わせる -->
  <meta name="discription" content="CSS Cafeの公式ウェブサイトです。商品情報，店舗紹介，アクセス，会社情報など。">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../css/html5reset-1.6.1.css">  <!-- リセット -->
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="../css/base.css"> -->
  <link rel="stylesheet" href="../css/base_animation.css">
  <!-- <link rel="stylesheet" href="../css/index.css"> -->

</head>
<body id="home">
  <!-- header begin -->
  <header id="top">
    <div class="header_content">
      <a href="index.html" class="self-link">Home</a>
      <nav>
        <ul>
          <li><a href="#profile">Profile</a></li>
          <li><a href="#background">Background</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#hobbys">Hobbys</a></li>
          <li><a href="gallery.html">Gallery</a></li>
        </ul>
      </nav>
    </div>
    <div id="main_image">
      <h1>Welcome to my page</h1>
    </div>
  </header>
  <!-- header end -->

  
  <!-- contents begin -->
  <div class="contents wrapper">

    <!-- main begin -->
    <main id="main_content">

      <!-- profile -->
      <section id="profile">
        <h2 class="animate-title">Profile</h2>
        <div class="p_contents">
          <ul class="overview">
            <li>立崎 あかり（タチザキ アカリ）</li>
            <li>1999年(平成11年) 6月 28日 生まれ</li>
            <li>青森県 十和田市  出身</li>
            <li>東京都 武蔵野市  在住</li>
          </ul>
          <div class="p_image"><img src="https://placehold.jp/150x150.png"></div>
        </div>
      </section>

      <!-- background -->
      <section id="background">
        <h2 class="animate-title">Background</h2>
      </section>

      <!-- skill -->
      <section id="skills">
        <h2 class="animate-title">Skills</h2>
        <div class="s_contents">
            <div class="box">
              <span class="hovering">日商簿記2級</span>
              <span class="default">Book keeping</span>
            </div>
            <div class="box">
              <span class="hovering">英語検定2級</span>
              <span class="default">English</span>
            </div>
            <div class="box">
              <span class="hovering">hover</span>
              <span class="default">Python</span>
            </div>
            <div class="box">
              <span class="hovering">hover</span>
              <span class="default">Django</span>
            </div>
            <div class="box">
              <span class="hovering">hover</span>
              <span class="default">HTML/CSS</span>
            </div>
            <div class="box">
              <span class="hovering">hover</span>
              <span class="default">JavaScript</span>
            </div>
        </div>
        <div class="my_app">
          
        </div>
      </section>

      <section id="hobbys">
        <h2 class="animate-title">Hobbys</h2>
      </section>

      <!-- 
        <script src="animation/text-animation.js"></script>
      <script src="animation/main.js"></script> 
      -->

    </main>
    <!-- main end -->

  </div>
  <!-- contents end -->
  

  <!-- footer begin -->
  <footer>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="#" target="blank">facebook</a></li>
      <li><a href="https://www.instagram.com/oisiimaru" target="blank">Instagram</a></li>
      <li><a href="#" target="blank">minne</a></li>
    </ul>
    <small>&copy;2022 taza</small>
  </footer>
  <!-- footer end -->
  <script src="../script/main.js"></script>
  <script src="../script/text-animation.js"></script>
</body>
</html>